body{
    width:100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
body,ul,li,p{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#444;
}
img{
    border:0;
}
.pro-img img{
    width:100%;
}
.p0{
    padding: 0;
}
.list{
    margin-top:20px;
}
